<ion-modal-view>
  <ion-header-bar class="bar-royal">
    <h1 class="title">Create Chronogram</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeChronogramForm()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doCreateChronogram()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" placeholder = 'Chronogram name' ng-model="newChronogram.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
            <textarea rows="5" placeholder="Chronogram detailed description" ng-model="newChronogram.description"></textarea>
        </label>
          <label class="item item-input filter-date-label" style="padding-right: 15px;">
        <span class="input-label filter-date-span">Start Date</span>
        <input class="filter-date" type="date" ng-model='newChronogram.plannedStartDate'>
      </label>
           <label class="item item-input filter-date-label" style="padding-right: 15px;">
        <span class="input-label filter-date-span">Start Time</span>
        <input class="filter-date" type="time" ng-model='range.endDate'>
      </label>
        </div>
        <div>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Create</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>