<ion-view view-title="Select prerequisites task(s)">
     <div class="tabs-striped tabs-color-royal">
    <ul class="tabs">
        <li ng-class="{active:isSelected(1)}" class="tab-item">
            <a ng-click="select(1)">All</a></li>
        <li ng-class="{active:isSelected(2)}" class="tab-item">
            <a ng-click="select(2)">Defined</a></li>
        <li ng-class="{active:isSelected(3)}" class="tab-item">
            <a ng-click="select(3)">Running</a></li>
        <li ng-class="{active:isSelected(4)}" class="tab-item">
            <a  ng-click="select(4)">Incident</a></li>
        <li ng-class="{active:isSelected(5)}" class="tab-item">
            <a  ng-click="select(5)">Terminated</a></li>
    </ul>
  </div>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="task in tasks | filter:{chronogramsId: chronogram.id, status: filtText}" class="item-thumbnail-left">
           <img ng-src={{"img/"+task.status+".png"}} alt="task" width="10px">
                <h2>{{task.name}}</h2>
        <p>{{task.description}}</p>
          <ion-option-button class="button-assertive icon ion-plus-circled" ng-click="">
          </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>